@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");

@keyframes heading-animation {
  0% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(-3px);
    text-shadow: -10px 8px #ce015a;
  }
  100% {
    transform: translateY(3px);
  }
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Orbitron", sans-serif;
  background-color: #cc4752;
}

.calculator-heading {
  color: #f1faee;
  font-size: 50px;
  margin-bottom: 30px;
  text-shadow: -5px 3px #ce015a;
  animation-name: heading-animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.github-link {
  background-image: url("./assets//github-button.png");
  width: 50px;
  height: 50px;
  display: inline-block;
  background-size: 100%;
  filter: invert(89%) sepia(23%) saturate(3774%) hue-rotate(340deg)
    brightness(101%) contrast(101%);
  margin-top: 20px;
}
.github-link:hover {
  filter: none;
}

@media only screen and (max-width: 768px) {
  .calculator-heading {
    margin-bottom: 0;
    font-size: 35px;
    animation-name: unset;
  }
}
